@import "../../../../styles/tokens/color.scss";
@import "../../../../styles/tokens/typography.scss";

.searchbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 16px;
  width: 1043px;
  height: 44px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  border: 1px solid map-get($neutral-color, 40);
  border-radius: 8px;
  background: map-get($neutral-color, 10);
}

.input {
  flex: 1;
  border: none;
  outline: none;
  height: 100%;
  padding: 0 12px;
  font-size: $text-m;
  line-height: $leading-m;
  font-weight: $font-regular;
  background: transparent;
  color: map-get($neutral-color, 70);

  &::placeholder {
    color: map-get($neutral-color, 70);
    font-size: $text-m;
    line-height: $leading-m;
    font-weight: $font-regular;
    font-family: $font-primary;
    opacity: 1;
  }
}