@import "../../../../styles/tokens/color";
@import "../../../../styles/tokens/typography";
@import "../../../../styles/components/button";

.container {
  width: 300px;
  height: 168px;
  background: url("/images/highlighted-session.jpg") center/cover no-repeat;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.72); // warna hitam 72%
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  padding: 16px;
  text-align: left;
}

.title {
  @extend .text-l-bold;
  color: map-get($neutral-color, 40);
  margin: 0;
}

.subtitle {
  @extend .text-m-bold;
  color: map-get($neutral-color, 10);
  margin: 0;
}

.button {
  @extend .button;
  @extend .button--primary;
  @extend .button--lg;
  width: 252px;
  margin-top: 16px;
  align-self: center;
}
