@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Nunito+Sans:wght@400;600;700&display=swap');

:root {
  --font-main: 'Inter', sans-serif;
  --font-alt: 'Nunito Sans', sans-serif;
}
