$font-primary: 'Nunito Sans', sans-serif;

// Font weights
$font-regular: 400;
$font-bold: 700;

// Font sizes & line heights (rem)
$text-xs: 0.625rem; // 10px
$leading-xs: 1rem; // 16px

$text-s: 0.75rem; // 12px
$leading-s: 1.25rem; // 20px

$text-m: 0.875rem; // 14px
$leading-m: 1.5rem; // 24px

$text-l: 1rem; // 16px
$leading-l: 1.75rem; // 28px

$heading-s: 1.25rem; // 20px
$leading-heading-s: 2rem; // 32px

$heading-m: 1.5rem; // 24px
$leading-heading-m: 2.25rem; // 36px

$heading-l: 2rem; // 32px
$leading-heading-l: 2.75rem; // 44px

$display: 3rem; // 48px
$leading-display: 4rem; // 64px

// ================================
// Base Typography
// ================================

body {
  font-family: $font-primary;
  font-size: $text-m;
  line-height: $leading-m;
  color: var(--neutral-100); 
}

.text-xs-regular {
  font-size: $text-xs;
  line-height: $leading-xs;
  font-weight: $font-regular;
}
.text-xs-bold {
  font-size: $text-xs;
  line-height: $leading-xs;
  font-weight: $font-bold;
}

.text-s-regular {
  font-size: $text-s;
  line-height: $leading-s;
  font-weight: $font-regular;
}
.text-s-bold {
  font-size: $text-s;
  line-height: $leading-s;
  font-weight: $font-bold;
}

.text-m-regular {
  font-size: $text-m;
  line-height: $leading-m;
  font-weight: $font-regular;
}
.text-m-bold {
  font-size: $text-m;
  line-height: $leading-m;
  font-weight: $font-bold;
}

.text-l-regular {
  font-size: $text-l;
  line-height: $leading-l;
  font-weight: $font-regular;
}
.text-l-bold {
  font-size: $text-l;
  line-height: $leading-l;
  font-weight: $font-bold;
}

.heading-s-regular {
  font-size: $heading-s;
  line-height: $leading-heading-s;
  font-weight: $font-regular;
}
.heading-s-bold {
  font-size: $heading-s;
  line-height: $leading-heading-s;
  font-weight: $font-bold;
}

.heading-m-regular {
  font-size: $heading-m;
  line-height: $leading-heading-m;
  font-weight: $font-regular;
}
.heading-m-bold {
  font-size: $heading-m;
  line-height: $leading-heading-m;
  font-weight: $font-bold;
}

.heading-l-regular {
  font-size: $heading-l;
  line-height: $leading-heading-l;
  font-weight: $font-regular;
}
.heading-l-bold {
  font-size: $heading-l;
  line-height: $leading-heading-l;
  font-weight: $font-bold;
}

.display-bold {
  font-size: $display;
  line-height: $leading-display;
  font-weight: $font-bold;
}


