*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}

html, body {
  overscroll-behavior: none;
  overscroll-behavior-y: none;
}

:root {
  font-size: 16px;
}

a {
  text-decoration: none;
  color: inherit;
}
